<a href="https://colab.research.google.com/github/febrinatasya/preprocessing/blob/main/Tugas_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

impoorting dataset

In [9]:
dataset = pd.read_csv('Student Mental health.csv')
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values

In [ ]:
print(X)

[['8/7/2020 12:02' 'Female' 18.0 ... 'Yes' 'No' 'Yes']
 ['8/7/2020 12:04' 'Male' 21.0 ... 'No' 'Yes' 'No']
 ['8/7/2020 12:05' 'Male' 19.0 ... 'Yes' 'Yes' 'Yes']
 ...
 ['13/07/2020 21:22:56' 'Female' 19.0 ... 'Yes' 'No' 'Yes']
 ['13/07/2020 21:23:57' 'Female' 23.0 ... 'No' 'No' 'No']
 ['18/07/2020 20:16:21' 'Male' 20.0 ... 'No' 'No' 'No']]

In [10]:
print(Y)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'Yes' 'No' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'Yes' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No']

Mengecek apakah ada Missing Value

In [13]:
dataset.isnull().sum()

Timestamp                                       0
Choose your gender                              0
Age                                             1
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

Data di kolom Age ada 1 data yang kosong

In [18]:
dataset.isnull().values.any()

np.True_

**Menghilangkan missing value.**

Karena hanya ada 1 data yang kosong maka kita akan Menghapus Missing Value (Drop)

In [20]:
dataset = dataset.dropna()

Cek lagi apakah masih ada data kosong:

In [21]:
dataset.isnull().sum()

Timestamp                                       0
Choose your gender                              0
Age                                             0
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_tain, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)